@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --hue: 180;
  --color-primary: hsl(var(--hue), 50%, 50%);
  --color-bg: hsl(0, 0%, 87%);
  --color-text: hsl(0, 0%, 100%);
  --second-color-text: hsl(0, 0%, 29%);
}

* {
  font-family: 'Open Sans', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: hsl(0, 0%, 87%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  background-color: var(--color-primary);
  color: var(--color-text);

  height: 60px;
  display: flex;
  align-items: center;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

a {
  display: flex;
  gap: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 24px;
  font-weight: 700;
}

nav a {
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}

#dsmovie-card-list {
  padding: 40px 0;
}

.dsmovie-card {
  width: 100%;
}

.dsmovie-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px 20px 20px;

  border-radius: 0 0 8px 8px;

  min-height: 150px;
}

.dsmovie-card-description h3 {
  font-size: 14px;
  font-weight: 700;

  text-align: center;
}

.dsmovie-card-description .button,
.button:hover {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-primary);
  color: var(--color-text);
  font-weight: 700;

  width: 180px;
  height: 40px;

  border-radius: 4px;
}

.dsmovie-form-container {
  padding: 40px 0;
  max-width: 480px;
}
